/* add css module styles here (optional) */
.dropdownSelect {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.selectName {
  margin-bottom: 20px;
  width: 41vh;
  height: 55px;
  font-size: 2.5vh;
  border-radius: 20px;
  border: solid 2px #6d8412;
}
